<div class="container-geral" *ngIf="isLogged && isCompleted">
    <form [formGroup]="searchControl" class="form-inline mr-auto" (ngSubmit)="searchBook()">
        <div class="container-pesquisar">
            <mat-form-field class="barra-pesquisar" appearance="outline">
                <mat-label>{{'HOME.BUSCARTEXT' | translate}}</mat-label>
                <input matInput type="text" formControlName="book">
                <button mat-button matSuffix mat-icon-button aria-label="Pesquisar" type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </form>
    <mat-paginator *ngIf="books?.length > 0" [length]="totalBooks" [pageSize]="pageSize"
        [pageSizeOptions]="[10, 20, 30, 40]" (page)="changePage($event)">
    </mat-paginator>

    <div>
        <div class="livros-logado" fxLayout="row wrap" fxFlex="80" fxLayoutAlign="space-evenly stretch"
            *ngIf="books?.length > 0">
            <app-book-card *ngFor="let book of books" [idTag]="" [book]="book" [deviceXs]="deviceXs"
                [logged]="this.user" [canEdit]="true">
            </app-book-card>
        </div>
    </div>
</div>

<div class="container-pagina-inicial" *ngIf="!isLogged && isCompleted">
    <div class="primeiro">
        <form [formGroup]="searchControl" class="form-inline mr-auto" (ngSubmit)="searchBook()">
            <div class="container-pesquisar">
                <mat-form-field class="barra-pesquisar" appearance="outline">
                    <mat-label>{{'HOME.BUSCARTEXT' | translate}}</mat-label>
                    <input matInput type="text" formControlName="book">
                    <button mat-button matSuffix mat-icon-button aria-label="Pesquisar" type="submit">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </form>
        <mat-paginator class="paginacao-pagina-inicial" *ngIf="books?.length > 0" [length]="totalBooks"
            [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30, 40]" (page)="changePage($event)">
        </mat-paginator>

        <div>
            <div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" *ngIf="books?.length > 0">
                <app-book-card *ngFor="let book of books" [idTag]="" [book]="book" [deviceXs]="deviceXs"
                    [logged]="this.user" [canEdit]="true">
                </app-book-card>
            </div>
        </div>
    </div>
    <div class="segundo">
        <div class="container-bbooks-descricao">
            <h1><b>BBooks</b></h1>
            <h2>{{ 'PAGINA_INICIAL.DESCRICAO' | translate }}</h2>
        </div>
        <div class="container-cadastre-se">
            <h1><b>{{ 'PAGINA_INICIAL.PRONTO_ENTRAR' | translate }}</b></h1>
            <h2>{{ 'PAGINA_INICIAL.NAO_PERCA' | translate }}</h2>
        </div>
    </div>
</div>