<div class="geral">
    <div class="container-branco">
        <div class="container-conteudo">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="4px">
                <div>
                    <img class="cardImage" src="{{book.image}}">
                    <h2 class="titulo-competicao">{{book.title}}</h2>
                    <div *ngIf="book.averageRating">
                        <app-rating *ngFor="let star  of stars;" [idStar]="star"
                                    [rating]="this.book.averageRating"></app-rating>
                    </div>
                    <div class="textColor" *ngIf="book.isbn13">
                        <strong>ISBN-13: </strong>{{book.isbn13}}
                    </div>
                    <div class="textColor" *ngIf="book.isbn10">
                        <strong>ISBN-10: </strong>{{book.isbn10}}
                    </div>
                    <div>
                        {{stringAuthors}}
                    </div>
                </div>
                <div fxLayout="column" fxLayoutGap="2px">
                    <div>
                        <button type="button" *ngIf="book.idUserBook? false : true" mat-flat-button color="accent"
                                (click)="openDialogAddBook(book)">
                            {{'ESTANTE.ADICIONAR_LIVRO' | translate}}
                        </button>
                        <button type="button" *ngIf="book.idUserBook" mat-flat-button color="accent"
                                (click)="openDialogAddBook(book)">
                            {{'ESTANTE.EDITAR_LIVRO' | translate}}
                        </button>
                    </div>
                    <div *ngIf="book.idUserBook">
                        <p style="text-align: right;">{{'ESTANTE.ENCERRAR_META_LEITURA' | translate}} {{calculateDays()}} {{'ESTANTE.DIAS_ENCERRAR_META' | translate}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-cinza">
        <div class="container-conteudo">
            <h2 class="titulo-competicao">{{'BOOK.SOBRE_LIVRO' | translate}}</h2>
            <p class="paragrafo-competicao">{{book.description}}</p>
        </div>
    </div>
    <div class="container-branco">
        <div class="container-conteudo">
            <h2  class="titulo-competicao">{{'BOOK.STATUS_GERAL' | translate}}</h2>
            <div class="container-membros">
                <mat-card class="membro">
                    <p><mat-icon class="iconStatusLidos">turned_in</mat-icon></p>
                     {{'STATUS.DETALHES_LIDOS' | translate}}
                    <p class="nome-membro">{{userBooksDataStatusTO?.lendo}}</p>
                </mat-card>
                <mat-card class="membro">
                    <p> <mat-icon class="iconStatusLendo" >turned_in</mat-icon> </p>
                     {{'STATUS.DETALHES_LENDO' | translate}}
                    <p class="nome-membro">{{userBooksDataStatusTO?.lendo}}</p>
                </mat-card>

                <mat-card class="membro">
                    <p> <mat-icon class="iconStatusQueroLer">turned_in</mat-icon></p>
                    {{'STATUS.DETALHES_QUEREM_LER' | translate}}
                    <p class="nome-membro">{{userBooksDataStatusTO?.queroLer}}</p>
                </mat-card>
                <mat-card class="membro">
                    <p> <mat-icon class="iconStatusEmprestado">turned_in</mat-icon> </p>
                    {{'STATUS.DETALHES_EMPRESTADO' | translate}}
                    <p class="nome-membro">{{userBooksDataStatusTO?.emprestado}}</p>
                </mat-card>
                <mat-card class="membro">
                    <p><mat-icon class="iconStatusRelendo">turned_in</mat-icon></p>
                     {{'STATUS.DETALHES_RELENDO' | translate}}
                    <p class="nome-membro">{{userBooksDataStatusTO?.relendo}}</p>
                </mat-card>

                <mat-card class="membro">
                    <p><mat-icon class="iconStatusInterrompido">turned_in</mat-icon></p>
                     {{'STATUS.DETALHES_INTERROMPIDOS' | translate}}
                    <p  class="nome-membro">{{userBooksDataStatusTO?.interrompido}}</p>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="container-cinza">
        <div class="container-conteudo">
            <h2  class="titulo-competicao">{{'BOOK.OUTRAS_INFO' | translate}}</h2>
            <div class="container-membros">
                <mat-card class="membro"  *ngIf="book.publisher">
                    <div ><strong>{{'BOOK.EDITORA' | translate}}</strong></div>
                    <p class="nome-membro">{{book.publisher}}</p>
                </mat-card>
                <mat-card class="membro" *ngIf="book.publishedDate">
                    <div ><strong>{{'BOOK.PUPLICACAO' | translate}}</strong></div>
                    <p class="nome-membro">{{book.publishedDate}}</p>
                </mat-card>
                <mat-card class="membro"  *ngIf="book.numberPage" >
                    <div ><strong>{{'BOOK.PAGINAS' | translate}}</strong></div>
                    <p class="nome-membro">{{book.numberPage}}</p>
                </mat-card>
                <mat-card class="membro"  *ngIf="book.language">
                    <div ><strong>{{'BOOK.IDIOMA' | translate}}</strong></div>
                    <p  class="nome-membro">{{book.language}}</p>
                </mat-card>
                <mat-card class="membro" *ngIf="book.averageRating">
                    <div ><strong>{{'BOOK.AVALIACAO' | translate}}</strong></div>
                    <p class="nome-membro">{{book.averageRating}}</p>
                </mat-card>
            </div>
        </div>
    </div>
</div>
