<div class="form">
  <form [formGroup]="loginControl">

    <div>
      <img mat-card-image src="assets/images/logo-bbooks-branco.png" alt="logo bbooks transparente">
    </div>
    <div>
      <span class="texto">{{'LOGIN.TIULO' | translate}}</span>
    </div>

    <div>
      <mat-form-field class="input-style">
        <mat-label>{{'PADRAO.EMAIL' | translate}}</mat-label>
        <input matInput type="text" formControlName="email">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="input-style">
        <mat-label>{{'PADRAO.SENHA' | translate}}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button type="button" mat-raised-button color="primary" (click)="login(loginType.BBOOKS)">{{'PADRAO.ENTRAR' | translate}}</button>
    <div>
      <p style="margin-top: 15px; color: #777777">{{'LOGIN.OU' | translate}}</p>
    </div>
    <button mat-button class="login-google" (click)="login(loginType.GOOGLE)"><i class="fab fa-google"></i> {{'LOGIN.GOOGLE' |
      translate}}</button>
    <button mat-button class="login-facebook" (click)="login(loginType.FACEBOOK)">
      <i style="color:#1877F2; font-size: 17px;" class="fab fa-facebook"></i>
      {{'LOGIN.FACEBOOK' | translate}}
    </button>

    <mat-divider id="divisor"></mat-divider>

    <div id="recuperarSenha">
      <a [routerLink]="['/recuperar-senha']" style="margin-top: 15px;">
        {{'LOGIN.ESQUECER_SENHA' | translate}}
      </a>
    </div>
    <div id="criarConta">
      <a [routerLink]="['/cadastro']" style="margin-top: 15px;">
        {{'LOGIN.CRIAR_CONTA' | translate}}
      </a>
    </div>
    <div id="politicaPrivacidade">
      <a href="https://www.freeprivacypolicy.com/live/3227bde6-87e0-40d6-bf72-17718f4bac6b" target="_blank">{{
        'PADRAO.POLITICA_PRIVACIDADE' | translate }}</a>
    </div>
  </form>
</div>