<mat-toolbar color="primary" style="padding: 0 8px;">
    <span routerLink="{{isLogged ? '/' : ''}}">
        <img class="iconbbooks" src="assets/images/logobboks.png" alt="logo bbooks">
    </span>
    <span class="example-spacer"></span>
    <button *ngIf="isLogged" mat-flat-button color="primary" style="width: 5vw;" routerLink="/bookcase">
        <mat-icon>menu_book</mat-icon>
    </button>
    <button *ngIf="!isLogged" mat-flat-button color="primary" style="width: 5vw;" [routerLink]="['/login']">
        {{'PADRAO.ENTRAR' | translate}}
    </button>
    <div *ngIf="isLogged">
        <button mat-flat-button color="primary">
            <mat-icon [matBadge]="friendships?.length ? verifyRequests() : ''" matBadgeColor="warn"
                [matMenuTriggerFor]="menuNofify">add_alert</mat-icon>
        </button>
        <mat-menu #menuNofify="matMenu">
            <div *ngIf="friendships?.length === 0">
                <app-empty-content-message
                    message="{{'NAV.NOT_NOTITIFCATION' | translate}}"></app-empty-content-message>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="receivedFriendships?.length > 0">
                <p><b>{{'PADRAO.SOLICITACOES_RECEBIDAS' | translate}}</b></p>
            </div>
            <div *ngFor="let request of receivedFriendships">
                <div mat-menu-item style="height: 120px" *ngIf="request.profileTO.id">
                    <div fxLayout="row" [routerLink]="['/perfil', request?.profileTO.username]">
                        <img class="imagem-perfil"
                            [src]="request?.profileTO?.profileImage ? request.profileTO.profileImage : 'https://image.flaticon.com/icons/png/512/1361/1361728.png'"
                            alt="foto de perfil" />

                        <span> {{request?.name}} {{request?.lastName}}</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
                        <button mat-flat-button color="warn" (click)="deleteRequest(request)">
                            <mat-icon>clear</mat-icon>
                        </button>
                        <button mat-flat-button color="accent" (click)="acceptRequest(request)">
                            <mat-icon>done</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="sentFriendships.length > 0">
                <p><b>{{'PADRAO.SOLICITACOES_ENVIADAS' | translate}}</b></p>
            </div>
            <div *ngFor="let request of sentFriendships">
                <div mat-menu-item style="height: 120px" *ngIf="request.profileTO.id">

                    <div fxLayout="row" [routerLink]="['/perfil', request?.profileTO.username]">
                        <img class="imagem-perfil"
                            [src]="request?.profileTO?.profileImage ? request.profileTO.profileImage : 'https://image.flaticon.com/icons/png/512/1361/1361728.png'"
                            alt="foto de perfil" />

                        <span> {{request?.name}} {{request?.lastName}}</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
                        <button mat-flat-button color="warn" (click)="deleteRequest(request)">
                            <mat-icon>clear</mat-icon>
                            {{'PADRAO.CANCELAR' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </mat-menu>
    </div>

    <div *ngIf="isLogged">
        <button mat-flat-button color="primary" style="width: 5vw;" [routerLink]="['/search']">
            <mat-icon>search</mat-icon>
        </button>

        <button mat-flat-button color="primary" style="width: 5vw;" [matMenuTriggerFor]="menuPerfil">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menuPerfil="matMenu">
            <div mat-menu-item>
                <div fxLayout="row" [routerLink]="['/perfil', user?.profile?.username]">
                    <img class="imagem-perfil"
                        [src]="user?.profile?.profileImage ? user.profile.profileImage : 'https://image.flaticon.com/icons/png/512/1361/1361728.png'"
                        alt="foto de perfil" />

                    <span> {{user?.profile?.username}}</span>
                </div>
            </div>
            <div mat-menu-item [matMenuTriggerFor]="languages">
                <mat-icon>language</mat-icon>
                <span>{{'PADRAO.IDIOMA' | translate}}</span>
            </div>

            <mat-menu #languages="matMenu">
                <button mat-menu-item (click)="switchLang('pt-BR')">{{'NAV.PORTUGUES' | translate}}</button>
                <button mat-menu-item (click)="switchLang('en')">{{'NAV.INGLES' | translate}}</button>
            </mat-menu>
            <div mat-menu-item (click)="logout()" (keydown)="onKeyDown($event)">
                <mat-icon>login</mat-icon>
                <span>{{'NAV.SAIR' | translate}}</span>
            </div>
        </mat-menu>
    </div>

    <button mat-button [matMenuTriggerFor]="afterMenu" *ngIf="!isLogged">
        <span class="material-icons">
            language
        </span>
    </button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item (click)="switchLang('pt-BR')">{{'NAV.PORTUGUES' | translate}}</button>
        <button mat-menu-item (click)="switchLang('en')">{{'NAV.INGLES' | translate}}</button>
    </mat-menu>
</mat-toolbar>